---
layout: bootcamp
root: .
venue: University of Michigan
address: Weiser Hall - 500 Church St., Central Campus
country: United-States
humandate: June 17th-21st 2019
humantime: 9:00 am - 5:00 pm
startdate: 2019-06-17
enddate: 2019-06-21
registration: restricted
coordinators: [ "Jeffrey W. Lockhart" ]
instructor: [ "Teddy DeWitt (Management and Organizations)", "Nel Escher (EECS)", "Tom Fiore (Statistics and Math)", "Zander Furnas (Political Science)", "Jeffrey W. Lockhart (Sociology and PSC)", "Jerry Qiushi Yu (Political Science)", "Emily Sabo (Linguistics)"]
speakers: ["TBA"]
contact: jwlock at umich dot edu
---
<!--
---
layout: bootcamp
root: .
venue: University of Michigan
address: Weiser Hall, 500 Church St., Central Campus
country: United-States
humandate: June 17th-21st 2019
humantime: 9:00 am - 5:00 pm
startdate: 2019-06-17
enddate: 2018-06-21
registration: restricted
coordinators: [ "Jeffrey W. Lockhart" ]
instructor: ["Jeffrey W. Lockhart","TBA"]
helpers: [["Jeffrey W. Lockhart","TBA"]
speakers: ["TBA","TBA","TBA"]
contact: jwlock at umich dot edu
---

    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<h2>General Information</h2>

<p>
  Social  and  organizational  life are  increasingly  conducted  or
tracked online  through electronic  media, from emails  to Twitter
feed  to dating  sites to  GPS  phone tracking.  The traces  these
activities leave  behind have  acquired the (misleading)  title of
“big data.” It is  a good bet that within a  few years, a standard
part of  graduate training in  the social sciences will  include a
hefty dose of  “how to make use of big  data,” just as statistical
analysis is a  standard part of such training today.  UM Data Camp 
aims to  make big  data accessible  for people  with no prior 
background. We  want people to leave  with enough confidence and 
basic knowledge  to be able to know what  is possible in their
research and  where they  might go next, drawing on resources at
the University of Michigan.

Organizing committee: Elizabeth Bruch, Jerry Davis
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.coordinators %}
<p>
  <strong>Coordinator:</strong>
  {{page.coordinators | join: ', ' %}}
</p>
{% endif %}
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}
{% if page.helpers %}
<p>
  <strong>Guides:</strong>
  {{page.helpers | join: ', ' %}}
</p>
{% endif %}
{% if page.speakers %}
<p>
  <strong>Speakers:</strong>
  {{page.speakers | join: ', ' %}}
</p>
{% endif %}
<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers. This year we have 72 participants from over 30 different units on campus, including Anthropology, Bioinformatics, Climate and Space Sciences, Communication Studies, Design Science, Economics, Education, Ecology and Evolutionary Biology, Electrical Engineering and Computer Science, History, Human Genetics, Industrial and Manufacturing Systems Engineering, Industrial Operations Engineering, IT and ARC, Law, Management and Organizations, Mathematics, Political Science, Population Studies Center, Psychology, Public Policy, School for Environment and Sustainability, School of Information, Social Work, Sociology, School of Public Health, Statistics, Surgery, Transportation Research Institute, Urban Planning, and Women's Studies.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16" target="_blank">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}" target="_blank">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop and are encouraged to try installing the packages at the bottom of this page before camp. Installation support will be provided during camp, and online alternatives will be available as well. 
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>


<hr/>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Schedule</h2>
<table class="table table-striped">
  <tr> <td>Friday, June 14</td>  <td>12:00-5:00 pm</td>   <td>Optional pre-camp setup and technical help drop-in in Weiser 706.</td> </tr>
  <tr> <td>Monday, June 17</td>  <td>9:00</td>   <td>Introduction with Jerry Davis (<a href="slides/jerry_big_data_intro.pdf" target="_blank">Slides</a>)  </td> </tr>
  <tr> <td></td>        <td>9:45</td>   <td>Camp overview with Jeff Lockhart <a href="https://docs.google.com/presentation/d/1aPdKV5MSvWt7oSdJ4-e6JZVan77rn25yucPmSiIuNiQ/edit?usp=sharing" target="_blank">Slides</a></td> </tr>
  <tr> <td></td>        <td>10:15</td>   <td>Break with coffee from Panera</td> </tr>
  <tr> <td></td>        <td>10:30</td>   <td>Jupyter Setup and Intro to Python with Emily Sabo</td> </tr>
  <tr> <td></td>        <td>12:00</td>   <td>Lunch from Jerusalem Garden</td> </tr>
  <tr> <td></td>        <td>1:00</td>    <td>Python Part Two with Jerry Qiushi Yu</td> </tr>
  <tr> <td></td>       <td>2:15</td>    <td>Python for Data and Statistics with Tom Fiore</td> </tr>
  <tr> <td></td>       <td>3:25</td>    <td>Project Overview and Team Formation <a href="https://docs.google.com/presentation/d/19D7TCwk7j7Z9RdPhkuCzhtfPSvVA4en5UDsk7IOWtPc/edit?usp=sharing" target="_blank">Slides</a></td> </tr>
  <tr> <td></td>       <td>5:00</td>    <td>Depart</td> </tr> 

  <tr> <td>Tuesday</td><td>9:00</td>   <td>Machine Learning / Data Mining with Jeff Lockhart</td> </tr>
  <tr> <td></td>       <td>10:30</td>   <td>Break with coffee from Panera</td> </tr>
  <tr> <td></td>       <td>10:45</td>   <td>Data Visualization with Tom Fiore</td> </tr>
  <tr> <td></td>       <td>12:15</td>   <td>Lunch with guest speaker Abhraneel Sarma: "Visualization and Statistical Communication" (Catering: Tio's)</td> </tr>
  <tr> <td></td>       <td>1:30</td>   <td>APIs & Web Scraping with Nel Escher</td> </tr>
  <tr> <td></td>       <td>3:00</td>   <td>Group work time</td> </tr>
  <tr> <td></td>       <td>5:00</td>   <td>Depart</td> </tr>
   
  <tr> <td>Wednesday</td><td>9:00</td>    <td>Network Analysis with Zander Furnas</td> </tr>
  <tr> <td></td>       <td>10:30</td>   <td>Break with coffee from Panera</td> </tr>
  <tr> <td></td>       <td>11:00</td>   <td>Text Analysis / NLP with Emily Sabo</td> </tr>
  <tr> <td></td>       <td>12:30</td>   <td>Lunch with guest speaker Joy Rohde: "Ethics and Politics of Computational Social Science" (catering: Afternoon Delight)</td> </tr>
  <tr> <td></td>       <td>2:00</td>    <td>Command Line, BASH, and Remote Systems with Nel Escher</td> </tr>
  <tr> <td></td>       <td>3:30</td>   <td>Group work time</td> </tr>
  <tr> <td></td>       <td>5:00</td>   <td>Depart</td> </tr>
    
  <tr> <td>Thursday</td><td>9:00</td>   <td>BIG Data, PySpark, and Hadoop with Jeff Lockhart</td> </tr>
  <tr> <td></td>       <td>10:30</td>   <td>Break with coffee from Panera</td> </tr>
  <tr> <td></td>       <td>11:00</td>   <td>SQL with teddy DeWitt</td> </tr>
  <tr> <td></td>       <td>12:15</td>   <td>Lunch and Guest Lightning Talks (10th floor Weiser, catering: Jerusalem Garden) <a href="https://docs.google.com/presentation/d/15zPTPwtyj3PLOZz3yeuY-G-fqnWDW9gHbUw2qXaVaCo/edit?usp=sharing" target="_blank">Slides</a></td> </tr>   
  <tr> <td></td>       <td>1:30</td>   <td>Resource Fair (10th floor Weiser)</td> </tr>
  <tr> <td></td>       <td>2:30</td>   <td>Hackathon! (Group work time)</td> </tr>
  <tr> <td></td>       <td>5:00</td>   <td>Pizza from Cottage Inn</td> </tr>
  <tr> <td></td>       <td>5:00</td>   <td>HACKATHON! Weiser will remain open for group work until the building closes at 10.</td> </tr>
      
  <tr> <td>Friday </td><td>9:00</td>    <td>HACKATHON!</td> </tr>
  <tr> <td></td>       <td>12:00</td>   <td>Lunch from DiBella's</td> </tr>
  <tr> <td></td>       <td>1:00</td>   <td>HACKATHON!</td> </tr>
  <tr> <td></td>       <td>3:00</td>   <td>Presentations Begin</td> </tr>
  <tr> <td></td>       <td>4:30</td>   <td>Feedback</td> </tr>
  <tr> <td></td>       <td>5:30</td>   <td>Celebration at Dominick's</td> </tr>

</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Resources</h2>
<ul>
	<li>UM's new <a href="https://um-css.github.io/pages/syllabus.html" target="_blank">Computational Social Science Course</a> shares its syllabus, labs, and example code in their public GitHub webpage.</li>
	<li><a href="https://safecomputing.umich.edu/dataguide/" target="_blank">Sensitive Data Guide</a> from UM Safe Computing.</li>
	<li><a href=" https://umich.instructure.com/enroll/JHGFTJ" target="_blank">Python help and discussion board</a> run by MIDAS and CSCAR. <a href="slides/Discussion_Board_Flyer.pdf" target="_blank">Flyer PDF</a></li>
	<li>Offices on campus:
	<ul>
		<li><a href="https://cscar.research.umich.edu/" target="_blank">Consulting for Statistics, Computing and Analytics Research (CSCAR)</a></li>
		<li><a href="https://midas.umich.edu/" target="_blank">Michigan Institute for Data Science (MIDAS)</a></li>
	</ul>
	</li>
</ul>

<h2>Setup</h2>

<p>
  To participate in the ICOS Big Data Summercamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
